<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codeleven.patternsystem.dao.ShoesPatternMapper">
    <select id="queryForPage" resultType="com.codeleven.patternsystem.dto.ShoesPatternDto" parameterType="Map">
        SELECT id, vendor, width, height, shoes_size, name, user_id, cover_url, pattern_data_url, create_time, update_time
        FROM ps_shoes_pattern
        <if test="pattern_id != null and pattern_id != 0">
            <where>
                id = #{pattern_id}
                limit 0, 1
            </where>
        </if>
    </select>

    <select id="findPatternById" resultType="com.codeleven.patternsystem.dto.ShoesPatternDto">
        SELECT * FROM ps_shoes_pattern WHERE id=#{id};
    </select>

    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.codeleven.patternsystem.dto.ShoesPatternDto">
        INSERT INTO
            ps_shoes_pattern(`vendor`, `width`, `height`, `shoes_size`,
                                            <if test='name != null and name != ""'>`name`,</if>
                                            <if test="user != null and user.id != 0">`user_id`,</if>
                                            `cover_url`,
                                            `pattern_data_url`,
                                            `create_time`,
                                            `update_time`
                                            )
        VALUE(#{vendor}, #{width}, #{height}, #{shoesSize},
              <if test='name != null and name != ""'>
                    #{name},
              </if>
              <if test="user != null and user.id != 0">
                    #{user.id},
              </if>
              #{coverUrl}, #{patternDataUrl}, #{updateTime},#{createTime})
    </insert>
</mapper>