<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codeleven.web.dao.ShoesPatternMapper">
    <resultMap id="UniPatternDtoResultMap" type="com.codeleven.common.po.UniPatternPO" extends="SinglePatternDtoResult">
        <collection property="childDtoList" select="selectAllChilds" column="{pattern_id=id}"/>
    </resultMap>
    <resultMap id="SinglePatternDtoResult" type="com.codeleven.common.po.UniPatternPO">
        <id column="id" property="id"/>
        <result column="width" property="width"/>
        <result column="height" property="height"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="shoes_size" property="shoesSize"/>
        <result column="name" property="name"/>
        <result column="cover_path" property="coverPath"/>
        <result column="dxf_path" property="dxfPath"/>
        <result column="offset_x" property="offsetX"/>
        <result column="offset_y" property="offsetY"/>
        <association property="refOrigin" column="ref_origin" >
            <constructor>
                <arg column="x" javaType="INT"/>
                <arg column="y" javaType="INT"/>
            </constructor>
        </association>
    </resultMap>

    <select id="queryForPage" resultMap="SinglePatternDtoResult" parameterType="Map">
        SELECT id, width, height, shoes_size, name, user_id, cover_path, dxf_path, create_time, update_time, X(ref_origin) as x, Y(ref_origin) as y, offset_y
        FROM ps_shoes_pattern
    </select>

    <select id="findPatternById" resultMap="UniPatternDtoResultMap">
        SELECT *, X(ref_origin) as x, Y(ref_origin) as y FROM ps_shoes_pattern WHERE id=#{id};
    </select>

    <select id="selectAllChilds" resultType="com.codeleven.common.po.PatternChildPO">
        SELECT * FROM ps_child_pattern WHERE pattern_id=#{pattern_id}
    </select>

    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update ps_child_pattern
            <set>
                weight=${item.weight},
                pattern_data_json=#{item.patternDataJson}
            </set>
            where id = ${item.id} and pattern_id = ${item.patternId}
        </foreach>
    </update>

    <update id="update" parameterType="com.codeleven.common.po.UniPatternPO">
        UPDATE ps_shoes_pattern
        <set>
            width=#{width},
            height=#{height},
            name=#{name},
            ref_origin=POINTFROMTEXT(concat('POINT(', #{refOrigin.x}, ' ', #{refOrigin.y}, ')')),
            cover_path=#{coverPath},
            offset_x=#{offsetX},
            offset_y=#{offsetY}
        </set>
        where id=#{id}
    </update>

    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.codeleven.common.po.UniPatternPO">
        INSERT INTO
            ps_shoes_pattern(`width`, `height`, `shoes_size`,
                                            <if test='name != null and name != ""'>`name`,</if>
                                            <if test="user != null and user.id != 0">`user_id`,</if>
                                            `cover_path`,
                                            `dxf_path`,
                                            `create_time`,
                                            `update_time`,
                                            `ref_origin`
                                            )
        VALUE(#{width}, #{height}, #{shoesSize},
              <if test='name != null and name != ""'>
                    #{name},
              </if>
              <if test="user != null and user.id != 0">
                    #{user.id},
              </if>
              #{coverPath}, #{dxfPath}, #{updateTime},#{createTime}, POINTFROMTEXT(concat('POINT(', #{refOrigin.x}, ' ', #{refOrigin.y}, ')')) )
    </insert>

    <insert id="createChild" useGeneratedKeys="true" keyProperty="id" parameterType="java.util.List">
        INSERT INTO
        ps_child_pattern(`pattern_id`, `pattern_data_json`,`weight`) VALUES
        <foreach collection="list" item="item" open="(" close=")">
            #{item.patternId}, #{item.patternDataJson}, #{item.weight}
        </foreach>
    </insert>
</mapper>